@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --background: #fafafafa;
  --foreground: #171717;
}

@layer utilities {
  .bg-custom-light {
    background-color: #fafafa;
  }
  .bg-filter {
    background-color: #f4f9f7;
  }
  .bg-button-color {
    background-color: #12b76a;
  }
  .hover\:bg-button-color:hover {
    background-color: #12b76a;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #0a0a0a;
      --foreground: #ededed;
    }
  }

  body {
    font-family: var(--font-montserrat), sans-serif;

    margin: 0;
    padding: 0;
  }
}
